locals {
  data_product_name = "{{ data_product_name_kebab_case }}"
  domain            = "{{ domain }}"
  region            = "europe-west2"

  data_product_owner_email_address = "{{ data_product_owner }}"
  data_custodian_email_address     = "{{ data_custodian }}"

  publish_to_catalogue = false
}
