from datetime import datetime
from airflow import DAG
from itv.data.airflow.slack import failure_alert
from itv.data.airflow.dataproc import ITVDataprocCreateBatchOperator

DATA_PRODUCT_NAME = "{{ data_product_name_kebab_case }}"
DOMAIN = "{{ domain }}"
DATAPROC_SERVERLESS_RUNTIME_VERSION = "3.0"
{%- if domain != "crash" %}
env = '{{"{{"}} var.value.get("platform-environment", "dev") {{"}}"}}'
{%- else %}
env = '{{"{{"}} var.value.get("platform-environment", "tst") {{"}}"}}'
{%- endif %}
default_args = {
    "owner": "{% if domain == 'commercial' %}airflow{% else %}central-data-engineering{% endif %}",
    "depends_on_past": False,
    "email_on_failure": False,
    "email_on_retry": False,
    "on_failure_callback": failure_alert(
        alert_title="{{ data_product_name_kebab_case }} Task Failed",
        slack_channel="tmp-data-{{ platform }}-{env}-alerts",
    ),
}

readme_url = (
    "https://github.com/ITV/{{ data_product_name_kebab_case }}-data-product/blob/main/orchestration/README.md"
)
documentation_markdown = f"""
### README

The README for this DAG is [available on GitHub]({readme_url}).
"""

with DAG(
    "{{ data_product_name_snake_case }}_dag",
    start_date=datetime(year=2025, month=1, day=1),
    schedule_interval=None,
    catchup=False,
    default_args=default_args,
    tags=[
        f"data-product:{DATA_PRODUCT_NAME}",
        f"domain:{DOMAIN}",
    ],
    doc_md=documentation_markdown,
) as dag:

    ingest_task = ITVDataprocCreateBatchOperator(
        task_id="ingest_task",
        domain=DOMAIN,
        data_product_name=DATA_PRODUCT_NAME,
        entry_point="{{ data_product_name_snake_case }}/ingest/main.py",
        runtime_version=DATAPROC_SERVERLESS_RUNTIME_VERSION,
        runtime_args=[
            "--project-id",
{%- if domain != "crash" %}
            '{{"{{"}} var.value.get("platform-{{ domain }}-project-id", "itv-data-{{ domain }}-dom-dev") {{"}}"}}',
            "--region",
            '{{"{{"}} var.value.get("platform-region", "europe-west2") {{"}}"}}',
            "--env",
            '{{"{{"}} var.value.get("platform-environment", "dev") {{"}}"}}',
            "--data-product-bucket-path",
            'gs://itv-data-dp-{{ data_product_name_kebab_case }}-{{"{{"}} var.value.get("platform-environment", "dev") {{"}}"}}',
{%- else %}
            '{{"{{"}} var.value.get("platform-{{ domain }}-project-id", "itv-data-t-{{ domain }}-dom-tst") {{"}}"}}',
            "--region",
            '{{"{{"}} var.value.get("platform-region", "europe-west2") {{"}}"}}',
            "--env",
            '{{"{{"}} var.value.get("platform-environment", "tst") {{"}}"}}',
            "--data-product-bucket-path",
            'gs://itv-data-t-dp-{{ data_product_name_kebab_case }}-{{"{{"}} var.value.get("platform-environment", "tst") {{"}}"}}',
{%- endif %}
        ],
    )

    ingest_task
