locals {
  metadata = {
    data_product_owner = replace(replace(var.data_product_owner_email_address, "@itv.com", ""), ".", "")
    data_product_name  = var.data_product_name
    domain             = var.domain
  }

  datasets     = ["product"]
  root_folders = ["input", "ingest", "base", "product", "internal", "metadata", "test"]
  # managed_folders = [
  #   "product/<insert path here>"
  # ]
}

module "bucket" {
  source = "{{ modules.bucket.source }}" # TODO: replace with real module source
  project_id        = var.project_id
  data_product_name = var.data_product_name
  environment       = var.environment
  location          = var.region
  labels            = local.metadata
}

module "managed_folder" {
  source     = "{{ modules.managed_folder.source }}" # TODO: replace with real module source
  depends_on = [ module.bucket ]
  for_each   = toset(concat(local.root_folders, local.managed_folders))

  bucket_name = module.bucket.bucket_name
  name        = "${each.key}/"
}

module "dataset" {
  for_each              = toset(local.datasets)
  source                = "{{ modules.dataset.source }}" # TODO: replace with real module source
  project_id            = var.project_id
  environment           = var.environment
  data_product_name     = var.data_product_name
  region                = var.region
  dataset               = each.key
  data_product_metadata = local.metadata
}

module "analytics_hub_listing" {
  source            = "{{modules.analytics_hub_listing.source }}" # TODO: replace with real module source
  region            = var.region
  data_product_name = var.data_product_name
  project_id        = var.project_id
  environment       = var.environment
  {% if domain == "crash" %}
  envconfig_id     = "itv-data-t-envconfig-tst"
  data_exchange_id = "bartex_exchange_tst"
  {% endif %}

  catalogue_map = [{
    publish-to-catalogue = var.publish_to_catalogue
    name                 = "product"
    custodian            = var.data_custodian_email_address
  }]
  dataset_resource_ids = {
    (module.dataset["product"].dataset_id) = module.dataset["product"].dataset_resource_id
  }
}
