locals {
  data_product_snake_case = replace(var.data_product_name, "-", "_")
}

module "product_table_access" {
  for_each   = var.product_table_access
  source     = "{{ modules.access_control.source }}"
  project_id = var.project_id
  dataset_id = "${local.data_product_snake_case}_product"
  table_id   = each.key
  readers    = each.value.readers
}
