import sys
from unittest.mock import patch
from pyspark.sql import SparkSession

from {{ data_product_name_snake_case }}.ingest.main import (
    get_cli_args,
    get_dummy_data,
)


def test_get_cli_args():
    # Given: a CLI argument
    args_to_patch = [
        "some_prog",
        "--data-product-bucket-path",
        "gs://some-bucket"
    ]

    # When: the arguments are parsed
    with patch.object(sys, "argv", args_to_patch):
        actual_args = get_cli_args()

    # Then: the argument value is correct
    assert actual_args.data_product_bucket_path == "gs://some-bucket"


def test_get_dummy_data():
    # Given: a Spark session
    spark = (
        SparkSession
        .builder
        .appName("Test Spark App")
        .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension")
        .config(
            "spark.sql.catalog.spark_catalog",
            "org.apache.spark.sql.delta.catalog.DeltaCatalog"
        )
        .getOrCreate()
    )

    # When: dummy data is created
    actual_data = get_dummy_data(spark)

    # Then: it contains the correct columns
    expected_columns = ["title", "episodes", "first_aired"]
    assert actual_data.columns == expected_columns
