# {{ data_product_name_kebab_case }}: Orchestration (Airflow DAGs)

The below Airflow DAGs are used to handle the orchestration:

1. `{{ data_product_name_snake_case }}_dag`: Orchestrates the data transformation process

## DAG: `{{ data_product_name_snake_case }}_dag`

### Description

This DAG handles the main data transformation pipeline. It uses Spark to write a Delta Lake table into a storage bucket.

### Parameters

- `project-id`: GCP project ID
- `region`: GCP region
- `env`: Environment (dev/pre/prd)
- `data-product-bucket-path`: Path to the cloud storage bucket

### Workflow

1. **Ingest Task**: Submit a Serverless batch to Dataproc to execute the data transformation pipeline. This includes:
   - Creating a new Spark cluster with specified configurations
   - Pulling the Docker image from Artifact Registry containing data transformation code and dependencies
   - Running the `main` entry point with the provided parameters

### Backfilling

There is no backfilling for these DAGs, as all data is fully refreshed on each run.
