variable "project_id" {
  type = string
}

variable "region" {
  type = string
}

variable "domain" {
  type = string
}

variable "environment" {
  type = string
  validation {
{%- if domain != "crash" %}
    condition     = contains(["dev", "pre", "prd"], var.environment)
    error_message = "The environment must be one of 'dev', 'pre' or 'prd'."
{%- else %}
    condition     = var.environment == "tst"
    error_message = "The environment must be 'tst'."
{%- endif %}
  }
}

variable "data_product_name" {
  type = string
}

variable "data_product_owner_email_address" {
  type = string
}

variable "data_custodian_email_address" {
  type = string
}

variable "publish_to_catalogue" {
  type = bool
}
