import argparse
import logging
from {{ data_product_name_snake_case }}.common.logger import configure_logger
from {{ data_product_name_snake_case }}.common.spark import create_spark_session
from pyspark.sql import SparkSession, DataFrame

logger = logging.getLogger(__name__)

DOMAIN = "{{ domain }}"
DATA_PRODUCT_NAME = "{{ data_product_name_kebab_case }}"


def get_cli_args(args=None) -> argparse.Namespace:
    parser = argparse.ArgumentParser(
        description="Example Spark App"
    )
    parser.add_argument(
        "--data-product-bucket-path",
        required=True,
        default=None,
        help="Full path to the data product bucket",
        dest="data_product_bucket_path",
    )
    args = parser.parse_args(args=args)
    logger.info(
        f"Input arguments:\n"
        f"data_product_bucket_path = {args.data_product_bucket_path}\n"
    )
    return args


def get_dummy_data(spark: SparkSession) -> DataFrame:
    data = [
        ("Coronation Street", 11740, 1960),
        ("Downton Abbey", 52, 2010),
        ("Love Island", 488, 2015),
    ]
    columns = ["title", "episodes", "first_aired"]
    return spark.createDataFrame(data, columns)


def main() -> None:
    configure_logger()
    args = get_cli_args()
    spark = create_spark_session()

    output_path = f"{args.data_product_bucket_path}/ingest/my_table"
    df = get_dummy_data(spark)
    df.write.format("delta").mode("overwrite").save(output_path)
    logger.info(f"Output written to '{output_path}'")


if __name__ == "__main__":
    main()
