# {{ data_product_name_kebab_case }}: Data Transformation Pipeline

## Ingest pipeline

This pipeline:
- Writes some dummy data to a Delta Lake table in cloud storage using Spark

### Pipeline Parameters

| Parameter | Required | Example | Description |
| - | - | - | - |
| data-product-bucket-path | Yes | gs://bucket | Path to the cloud storage bucket |

### Pipeline Logic

1. **Parse CLI Arguments**: Extract the path to the cloud storage bucket from the command-line arguments.
4. **Process Data**:
   - Create a Spark session
   - Load some dummy data into a Spark DataFrame
   - Write the DataFrame to the Delta Lake table in cloud storage

## Setup & Run

For information around setting up your environment, please follow the setup guide [here in the Engineering Handbook](https://itvplc.jira.com/wiki/spaces/CDF/pages/6319177814/Onboarding#Engineering-Setup).

### Run Project

To update/install the project:

```bash
poetry update
poetry install
```

To run unit and integration tests:

```bash
poetry run pytest

```

To run converage check:

```bash
poetry run coverage

```
