import pytest
from pytest_mock.plugin import MockerFixture
from airflow import DAG
from airflow.models import DagBag
from airflow.models.variable import Variable
from airflow.utils.db import initdb


@pytest.fixture(scope="session")
def dag_bag() -> DagBag:
    initdb()
    return DagBag(
        dag_folder="{{ domain }}/{{ data_product_name_snake_case }}",
        include_examples=False,
        safe_mode=True,
        read_dags_from_db=False,
        load_op_links=False,
    )


@pytest.fixture(scope="function")
def dag(dag_bag: DagBag) -> DAG:
    return dag_bag.get_dag("{{ data_product_name_snake_case }}_dag")


@pytest.fixture(scope="function", autouse=True)
def airflow_vars(mocker: MockerFixture) -> None:
    mock_airflow_env_vars = {
        "platform-environment": "test",
{%- if domain != "crash" %}
        "platform-{{ domain }}-project-id": "itv-data-{{ domain }}-dom-test",
{%- else %}
        "platform-{{ domain }}-project-id": "itv-data-t-{{ domain }}-dom-test",
{%- endif %}
        "platform-region": "europe-west2",
    }
    mock_var_get = mocker.patch.object(Variable, "get")
    mock_var_get.side_effect = (
        lambda *args, **kwargs: mock_airflow_env_vars.get(args[0])
    )
