name: Data Access

on:
  workflow_dispatch:
    inputs:
      environment:
        description: Environment
        required: true
        type: choice
{%- if platform != "cortex" %}
        default: tst
        options:
          - tst
{%- else %}
        default: dev
        options:
          - dev
          - pre
          - prd
{%- endif %}

permissions:
  id-token: write
  issues: write
  actions: read
  contents: read

run-name: "Access (${{ '{{' }} inputs.environment {{ '}}' }})"

concurrency:
  group: deploy-${{ '{{' }} inputs.environment {{ '}}' }}
  cancel-in-progress: false

jobs:
  plan:
    uses: ITV/itv-data-actions/.github/workflows/dp_infra_terragrunt_plan.yml@main
    with:
      data-product-name: '{{ data_product_name_kebab_case }}'
{%- if platform != "cortex" %}
      platform: {{ platform }}
{%- endif %}
      domain: {{ domain }}
      unit: data_access
      environment: ${{ '{{' }} inputs.environment {{ '}}' }}
      pr-comment: false
    secrets:
      git-auth-pat: ${{ '{{' }} secrets.INTERNAL_REPO_RO_PAT {{ '}}' }}

  apply:
    needs: plan
    uses: ITV/itv-data-actions/.github/workflows/dp_infra_terragrunt_apply.yml@main
    with:
      data-product-name: {{ data_product_name_kebab_case }}
{%- if platform != "cortex" %}
      platform: {{ platform }}
{%- endif %}
      domain: {{ domain }}
      unit: data_access
      environment: ${{ '{{' }} inputs.environment {{ '}}' }} 
    secrets:
      git-auth-pat: ${{ '{{' }} secrets.INTERNAL_REPO_RO_PAT {{ '}}' }}
