name: Build Artefacts
on:
  workflow_call:
    outputs:
      data-transformation-image-tag:
        value: ${{ '{{' }} jobs.data-transformation-build.outputs.image-tag {{ '}}' }}

permissions:
  id-token: write
  contents: read

jobs:
  data-transformation-build:
    uses: ITV/itv-data-actions/.github/workflows/dp_build_and_push_img.yml@main
    with:
      data-product-name: {{ data_product_name_kebab_case }}

{%- if platform != "cortex" %}
      environment: tst
      platform: {{ platform }}
{%- else %}
      environment: dev
{%- endif %}
      domain: {{ domain }}
