name: Deploy
on:
  workflow_dispatch:
    inputs:
      environment:
        description: Target environment to deploy to
        required: true
        type: choice
        options:
{%- if platform != "cortex" %}
          - tst
{%- else %}
          - dev
{%- endif %}
      data-transformation-image-tag:
        description: Specify this to override the image tag, instead of building a new one
        required: false
        type: string
  workflow_call:
    inputs:
      environment:
        description: Target environment to deploy to
        required: true
        type: string
      data-transformation-image-tag:
        description: Specify this to override the image tag, instead of building a new one
        required: false
        type: string

permissions:
  id-token: write
  issues: write
  actions: read
  contents: read

run-name: "Deployment (${{ '{{' }} inputs.environment {{ '}}' }})"

concurrency:
  group: deploy-${{ '{{' }} inputs.environment {{ '}}' }}
  cancel-in-progress: false

jobs:
  infra-plan:
    uses: ITV/itv-data-actions/.github/workflows/dp_infra_terragrunt_plan.yml@main
    with:
      data-product-name: {{ data_product_name_kebab_case }}
{%- if platform != "cortex" %}
      platform: {{ platform }}
{%- endif %}
      domain: {{ domain }}
      environment: ${{ '{{' }} inputs.environment {{ '}}' }}
      unit: core
    secrets:
      git-auth-pat: ${{ '{{' }} secrets.INTERNAL_REPO_RO_PAT {{ '}}' }}

  build-artefacts:
    if: inputs.data-transformation-image-tag == null || inputs.data-transformation-image-tag == ''
    uses: ITV/{{ data_product_name_kebab_case }}-data-product/.github/workflows/build_artefacts.yml@main

  infra-deploy:
    if: ${{ '{{' }} '! failure() && ! cancelled()' {{ '}}' }}
    needs:
      - build-artefacts
      - infra-plan
    uses: ITV/itv-data-actions/.github/workflows/dp_infra_terragrunt_apply.yml@main
    with:
      data-product-name: {{ data_product_name_kebab_case }}
{%- if platform != "cortex" %}
      platform: {{ platform }}
{%- endif %}
      domain: {{ domain }}
      environment: ${{ '{{' }} inputs.environment {{ '}}' }}
      unit: core
    secrets:
      git-auth-pat: ${{ '{{' }} secrets.INTERNAL_REPO_RO_PAT {{ '}}' }}

  orchestration-deploy:
    if: ${{ '{{' }} '! failure() && ! cancelled()' {{ '}}' }}
    needs:
      - build-artefacts
      - infra-plan
    uses: ITV/itv-data-actions/.github/workflows/dp_orchestration_deploy.yml@main
    with:
      data-product-name: {{ data_product_name_kebab_case }}
      environment: ${{ '{{' }} inputs.environment {{ '}}' }}
{%- if platform != "cortex" %}
      platform: {{ platform }}
{%- endif %}
      domain: {{ domain }}

  data-transformation-deploy:
    if: ${{ '{{' }} '! failure() && ! cancelled()' {{ '}}' }}
    needs:
      - build-artefacts
      - infra-plan
    uses: ITV/itv-data-actions/.github/workflows/dp_data_transformation_deploy.yml@main
    with:
      data-product-name: {{ data_product_name_kebab_case }}
      environment: ${{ '{{' }} inputs.environment {{ '}}' }}
{%- if platform != "cortex" %}
      platform: {{ platform }}
{%- endif %}
      domain: {{ domain }}
      image-tag: ${{ '{{' }} (inputs.data-transformation-image-tag == null || inputs.data-transformation-image-tag == '') && needs.build-artefacts.outputs.data-transformation-image-tag || inputs.data-transformation-image-tag {{ '}}' }}
